.CartItems{
    margin: 100px 170px;
}
.CartItems hr{
        height: 3px;
        background-color: #e2e2e2;
        border: 0;
        margin-bottom: 30px;
}
.cart-item-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap:75px;
    padding:20px 0;
    color:#454545 ;
    font-size: 18px;
    font-weight: 600;

}
.cartItems-format{
    font-size: 17px;
    font-weight: 500;
}
.cartItems-format img{
margin-left: 20px;
}
.cartIconProductIcon{
    height:62px ;
}
.cartItems-remove-icon{
    width: 15px ;
    margin: 0 40px;
    cursor: pointer;
}
.cart-iitems-quantity{
    width: 64px;
    background-color: white;
    height: 50px;
    border:2px solid #ebebeb;
    margin-left: 40px;


}
.cartItems-down{
  display: flex;
  margin: 100px 0px;
}
.cartItems-total{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right:200px ;
  gap:40px;
}
.cartItem-total-item{
  display: flex;
  justify-content: space-between;
  padding: 15px 0;

}
.cartItems-total button{
  width: 262px;
  height: 58px;
  outline: none;
  border:none;
  background-color: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;    
  cursor: pointer;
}
.cartItems-promocode{
  flex:1;
  font-size: 16px;
  font-weight: 500;
  margin: 30px  ;
  text-align: center;
}
.cartItems-promocode p{
  color:#555;
}
.cartItems-promobox{
  width: 504px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background-color:#eaeaea ;
}
.cartItems-promobox input{
  border: none;
  outline: none;
  background-color: transparent
  ;
  font-size: 16px;
  width:330px;
  height: 50px;

}
.cartItems-promobox button{
  width:30%;
  height: 58px;
  font-size: 16px;
  background-color: black;
  color: white;
  cursor: pointer;

}
@media (max-width: 1024px) {
  .CartItems {
    margin: 60px 50px;
  }

  .cart-item-format-main {
    grid-template-columns: 0.8fr 1.5fr 1fr 1fr 1fr;
    gap: 40px;
    font-size: 16px;
  }
  
}

@media (max-width: 768px) {
  .CartItems {
    margin: 50px 30px;
  }

  .cart-item-format-main {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
  }

  .cartItems-format img {
    margin: auto;
  }

  .cartItems-remove-icon {
    margin: 10px auto;
  }

  .cart-iitems-quantity {
    margin: 10px auto;
  }
  .cartItems-down{
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .CartItems {
    margin: 30px 15px;
  }

  .cart-item-format-main {
    grid-template-columns: 1fr;
    font-size: 14px;
  }

  .cartItems-format {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .cartItems-down{
    flex-direction: column;
  }
  .cartItems-total{
    margin: 30px auto;
  }
  .cartItems-promocode{
    margin: 30px auto;
  }
  .cartItems-promobox{
    width: 99%;
    margin: 40px 0;
  }
  .cartItems-promobox input{
    width: 70%;
  }
  .cartItems-promobox button{
    width: 30%;
  }
}
